body {
  background: #f9f9f9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #242424;
}

h1 {
  font-size: 68px;
  text-align: center;
  margin-top: 100px;
}

h1 a {
  color: #242424;
  text-decoration: none;
}

pre, .commandline {
  background: #242424;
  color: #0e0;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

a {
  color: #125ca2;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.commandline {
  padding: 4px 10px;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.links li {
  display: inline;
  margin-right: 20px;
}

.result p {
  text-align: center;
  color: #ec4444;
}

table {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
}

th {
  vertical-align: bottom;
  font-weight: bold;
  border-top: 0;
}

th, td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #DDD;
}

tr:nth-child(odd) td, tr:nth-child(odd) th {
  background-color: #f4f4f4;
}

tr:hover td, tr:hover th {
  background-color: #eee;
}
